html, 
body {
    margin: 0;
    padding: 0;   
}
.header {
    background: blueviolet;
    font: white; 
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.header a {
    color: white;
    display: block;
    padding: 5px;
}

.logotext {
    padding: 5px;
}
.main-nav {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}

.main-nav li {
    padding: 0px;
    padding: 0px;

}